@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@500&display=swap");

$fontFira: "Fira Code", monospace;
$fontRobot: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  &::selection {
    color: #fff;
    background-color: #000;
  }
}

@import "./assets/partials/variables";

.heder-section {
  .header {
    .top-bar {
      background-color: #a3a5a7;
      .container {
        display: flex;
        justify-content: space-between;
        .para {
          font-size: 13px;
          color: white;
          p {
            margin-top: 13px;
          }
        }
        .contact {
          display: flex;
          .top-links {
            font-family: $fontRobot;
            text-transform: uppercase;
            font-size: 12px;
            ul {
              line-height: 16px;
              display: flex;
              li {
                margin-top: 15px;
                a {
                  border-left: 1px solid rgba(201, 192, 192, 0.726);
                  padding: 18px;
                  text-decoration: none;
                  color: white;
                  &:hover {
                    background-color: #222;
                  }
                }
              }
            }
          }
          .top-socials {
            display: flex;
            .icons {
              margin-top: 2px;
              border-left: 1px solid rgba(201, 192, 192, 0.726);
              a {
                color: white;
                i {
                  padding: 13px;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//offer section-starts
.offer-section {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  .container {
    .row {
      background-color: #fff;
      .col-md-7 {
        height: 339px;
        padding: 0px;
      }
      .col-md-5 {
        height: 339px;
        display: flex;
        align-items: center;
        padding: 0px 12px;
        div {
          padding: 16px;
          ul {
            li {
              list-style-type: circle;
            }
          }
          a {
            text-align: center;
            padding: 8px 17px;
            border-radius: 4px;
            background-color: black;
            color: white;
            text-decoration: none;
          }
          p {
            margin: 5px;
            font-size: 14px;
            font-style: italic;
          }
        }
      }
    }
  }
}
//offer section-ends
